//
// Deine erstes Less File
//

// Variablen
@color-base: lightblue;
@color-highlight: indianred;

@base-font-size: 17px;
@base-font-weight: normal;

@base-gap: 30px;


//
// Mixins
//

.font-style(@size) {
   font-size: @size;
   margin: 30px;
}

//
// Deine Regeln
//

body {
   font-size: @base-font-size;
   font-weight: @base-font-weight;
}

div {
   background: @color-base;
   margin-bottom: @base-gap;
   padding: (@base-gap / 2);
   //.font-style(18px);

   font-family: Arial, sans-serif;
   font-size: 18px;
   font-weight: bold;

   p {
      color: #333;

      strong {
         color: @color-highlight;
      }
   }
}