@font-face {
    font-family: 'DroidSansRegular';
    src: url('../../00_assets/fonts/droidsans-webfont.eot');
    src: url('../../00_assets/fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../00_assets/fonts/droidsans-webfont.woff') format('woff'),
    url('../../00_assets/fonts/droidsans-webfont.ttf') format('truetype'),
    url('../../00_assets/fonts/droidsans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}